/*Created by Kyle Wolff May 13 2015 */

.split-pane .split-pane-divider {
	-fx-background-color: transparent;
	-fx-cursor: null;
}

#navMenuSplitPane,#loginScrollPane, .gridPane, #navMenu {
	-fx-background-color: white;
}

/* This is the Pane that acts as the Dimmer when the Nav Menu opens  */
#dimPane {
	-fx-background-color: black;
	-fx-opacity: 0;
}

#stackPaneAnchorPane {
	-fx-background-color: #98FF42;
}

#appTitle {
	-fx-font-size: 24px;
	-fx-font-style: normal;
	-fx-font-weight: 600;
	-fx-text-fill: white;
}

#mainPaneContainer, #mainRightAnchorPane {
	-fx-background-color: transparent;
} 

#nutritionLabelDimPane {
	-fx-background-color: black;
	-fx-opacity: 0;
}

#navMenuButton:hover {
	-fx-opacity: .45;
}

#navMenuButton {
	-fx-background-color: transparent;
	-fx-background-image: url(../resource/image/menuButton.png);
	-fx-background-position: center;
	-fx-background-size: contain;
}

#largeLogo {
	-fx-image:url("../resource/image/NutritionLargeLogo.png");
}


/*
 * Navigation Menu 
 */
 
.label {
	-fx-font-weight: bold;
	-fx-font-family: 'sans-serif';
	-fx-font-size: 12;
}

#searchImageView {
	-fx-image: url("../resource/image/searchIcon.png");
}

#macroCalcImageView {
	-fx-image: url("../resource/image/macroIcon.png");
}

#fitTrackerImageView {
	-fx-image: url("../resource/image/fitTrackerIcon.png");
}

#logoutImageView {
	-fx-image: url("../resource/image/logout.png");
}

/* Login CSS  */

#loginLabel {
	-fx-font-family: 'sans serif';
	-fx-font-size: 50px;
	-fx-font-weight: bold;
}

.text-field {
	-fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.button {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: 'sans serif';
}

.button:hover {
	-fx-background-color:  #76FF03, linear-gradient(#76FF03, #B2FF59);
}

#signInImage {	
	-fx-image: url("../resource/image/NutritionLogo.png");
}

#signIn_loading_icon {
	-fx-image: url("../resource/image/loadingIcon.gif");
}

.pane {
	-fx-background-color: white;
}

#errorLabel {
	-fx-font-family: 'sans-serif';
	-fx-font-size: 12px;	
}
