
#listView {
	-fx-background-color: transparent;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-font-weight: bold;
}

#searchField {
	-fx-background-color: white;
	-fx-border-insets: 0;
	-fx-border-width: 1;
	-fx-border-color: derive(black, 50%);
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-background-insets: 0,0,1,2;
	-fx-font-style: normal;
	-fx-font-size: 15.0px;
}

#HBoxContainerForListView {
	-fx-background-color: transparent;
}

#searchFieldErrorMessgae {
	-fx-text-fill: white;
	-fx-background-color: black;
	-fx-border-color: red transparent transparent transparent;
	-fx-background-insets: 0; 
    -fx-border-width: 4,0,0,0;
    -fx-font-family: 'system';
    -fx-font-size: 12.0;
}

#searchButton{
	-fx-background-color: white;
	-fx-image: url("../resource/image/blackSearchButton.png")
}

